*.egg-info
*.pot
*.py[co]
.tox/
.DS_Store
db.sqlite3
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
tests/report/
venv/
media/
satpurush/settings/dev.py